<ion-header>

  <ion-navbar>

    <ion-row>
      <ion-col col-2 style="margin:auto;text-align:center;">

        <ion-icon name="close" (click)="dismissPage()" style="color:white;zoom:1.5;"></ion-icon>

      </ion-col>
      <ion-col col-10 style="text-align:left">
        <ion-title>Add Balance</ion-title>
      </ion-col>

    </ion-row>

  </ion-navbar>
</ion-header>


<ion-content overflow-scroll="false">

    <ion-item no-lines>
      <ion-label stacked style="color:unset;"><b>Amount <span style="color:red;">*</span></b></ion-label>
      <ion-input type="number" [(ngModel)]="amount" required></ion-input>

    </ion-item>


    <ion-item no-lines>
      <ion-label stacked style="color:unset;"><b>Remarks</b></ion-label>
      <ion-textarea type="number" [(ngModel)]="remarks"></ion-textarea>

    </ion-item>


    <ion-row style="text-align: center;">
      <ion-col col-6>
        <button class="closeButton" icon-start round ion-button (click)="dismissPage()"><ion-icon name="close"></ion-icon>Close</button>
      </ion-col>
      <ion-col col-6>
        <button icon-start round ion-button [disabled]="amount==null || amount.length==0" (click)="addBalance()"><ion-icon name="add"></ion-icon>Add Balance</button>
      </ion-col>
    </ion-row>

</ion-content>
