change_password {
  .profile-item {
    text-align: center;
  }

  .profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    overflow: hidden;
  }

  img {
    width: 128px;
    height: 128px;
    padding: 3px;
    border-radius: 100%;
  }

  .profile-name {
    padding-top: 10px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
  }

  .passwordField {
    color: red;
    font-size: 12px;
    margin: auto;
    font-weight: 600;
    overflow: unset;
    white-space: normal;
    text-align:center;
  }
}
