<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-item class="profile-item">
    <div class="profile-picture">
      <img *ngIf="loggedInUser.profile_img!=null && loggedInUser.profile_img!=undefined && loggedInUser.profile_img.length>0" [src]="apiValue.baseImageFolder+loggedInUser.profile_img" alt="No image Found" />
      <img *ngIf="loggedInUser.profile_img==null || loggedInUser.profile_img==undefined || loggedInUser.profile_img.length==0" src="assets/imgs/user.png" alt="No image Found" />

    </div>
    <h2 class="profile-name dark">{{loggedInUser.name}}</h2>
    <div class="profile-info">{{loggedInUser.email}}</div>
    
  </ion-item>
	
  <ion-item no-lines>
    <ion-label ><b>Current Password:</b></ion-label>
    <ion-input type="password" required [(ngModel)]="current_pass" name="current_pass" ></ion-input>
  </ion-item>
  
   <ion-item no-lines>
    <ion-label ><b>New Password:</b></ion-label>
    <ion-input type="password" required [(ngModel)]="new_pass" name="new_pass" ></ion-input>
  </ion-item>

  <ion-item no-lines>
    <ion-label ><b>Confirm Password:</b></ion-label>
    <ion-input type="password" required [(ngModel)]="confirm_pass" name="confirm_pass" ></ion-input>
  </ion-item>

  <ion-item *ngIf="passwordInvalid!=undefined && passwordInvalid.length>0">
    <span class="passwordField">{{passwordInvalid}}</span>
  </ion-item>

  <ion-row>
    <ion-col style="text-align:center">
      <button ion-button (click)="changePassword()"> Change Password</button>
    </ion-col>
  </ion-row>

 
</ion-content>
