<ion-header>

  <ion-navbar>

    <ion-row>
      <ion-col col-2 style="margin:auto;text-align:center;">

        <ion-icon name="close" (click)="dismissPage()" style="color:white;zoom:1.5;"></ion-icon>

      </ion-col>
      <ion-col col-10 style="text-align:left">
        <ion-title>Edit Hearing</ion-title>
      </ion-col>

    </ion-row>

  </ion-navbar>
</ion-header>


<ion-content overflow-scroll="false">

  <ion-list>
    <div *ngIf="passedHearing!=null && passedHearing!=undefined">

      <form [formGroup]="editHearingForm">
        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Select Date <span class="required_field">*</span></b></ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" max="{{apiValues.maxSelectableDate}}" formControlName="date" required></ion-datetime>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Time <span class="required_field">*</span></b></ion-label>
          <ion-datetime displayFormat="hh:mm A" formControlName="time" required></ion-datetime>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Judge Name <span class="required_field">*</span></b></ion-label>
          <ion-input formControlName="judge_name" required></ion-input>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Location Of Hearing <span class="required_field">*</span></b></ion-label>
          <ion-input formControlName="location" required></ion-input>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Call Up</b></ion-label>
          <ion-input formControlName="call_up"></ion-input>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Type of Hearing/Interview</b></ion-label>
          <ion-input formControlName="type"></ion-input>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Description <span class="required_field">*</span></b></ion-label>
          <ion-textarea formControlName="description" required></ion-textarea>

        </ion-item>

        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Stage <span class="required_field">*</span></b></ion-label>
          <ion-input formControlName="stage" required></ion-input>

        </ion-item>


        <ion-item no-lines>
          <ion-label stacked style="color:unset;"><b>Notes (If any)</b></ion-label>
          <ion-textarea formControlName="notes"></ion-textarea>

        </ion-item>


      </form>

      <ion-row style="text-align: center;">
        <ion-col col-6>
          <button class="closeButton" icon-start round ion-button (click)="dismissPage()"><ion-icon name="close"></ion-icon>Close</button>
        </ion-col>
        <ion-col col-6>
          <button round ion-button [disabled]="!editHearingForm.valid" (click)="update()">Update</button>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

</ion-content>

