/* CSS Document */

page-login {

  ion-content {
    .scroll-content {
      background-image: linear-gradient(rgba(142, 142, 142, 0.22), rgba(0, 128, 236, 0.3));
      
      height: 100%;
    }
  }


  .vertical-align-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50%;
    border: 1px round;
    width: 100%;
  }

  ion-item {
    width: 100%;
    border-color: var(--ion-color-danger, #f1453d);
  }

  .profile-item {
    text-align: center;
    background-color: transparent;
  }

  .profile-picture {
    border: 1px solid white;
    padding: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
    width: 144px;
    height: 144px;
    border-radius: 100%;
  }

  img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
  }

  .transparentBG {
    background-color: transparent;
  }

  .error > .item-inner {
    border-bottom-color: red !important;
    border-bottom: 1px solid red !important;
   
  }
}
