<ion-header>
 
  <ion-navbar color="secondary">
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    
	    <ion-row center style="text-align: center;vertical-align: middle;">
	      <ion-col>
	         <ion-title style="text-align: center;height: 100%;vertical-align: middle;">
	           User Account Management
	         </ion-title>

	      </ion-col>
	      <ion-col style="text-align: right;">
	       
	          <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>
	      
	      </ion-col>
	    </ion-row>
     
  </ion-navbar>
</ion-header>

<ion-content>

  <div [className]="blurAmount">
    <ion-list>

      <ion-item no-lines>

        <ion-label>Case Type</ion-label>

        <ion-select interface="popover" [(ngModel)]="c_case_type">
          <ion-option value="1">Civil</ion-option>
          <ion-option value="4">Murder</ion-option>
          <ion-option value="6">Criminal</ion-option>
          <ion-option value="7">Divorce</ion-option>

        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Year</ion-label>
        <ion-datetime [pickerOptions]="customPickerOptions" placeholder="Select Year" [(ngModel)]="c_case_year" displayFormat="YYYY"></ion-datetime>


        <!-- Change the managers by fetching manager list from server -->

      </ion-item>
      <ion-item no-lines>
        <ion-label>Case Manager</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="c_case_manager">
          <ion-option *ngFor="let caseManager of caseManagerList" value="caseManager.id">{{caseManager.name}}({{caseManager.id}})</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="text" placeholder="Alias | COntact No. | Email ID | Client Name | Alien No." [(ngModel)]="c_search"></ion-input>
      </ion-item>

    </ion-list>
    <ion-row style="text-align: center;">

      <ion-col>

        <button icon-start ion-button (click)="fetchData()"><ion-icon name="search"></ion-icon>Search</button>
      </ion-col>

    </ion-row>

    <hr>
    <br>
    <!--
    <ion-card style="background-color: #efefef;border-radius: 2%; text-align: center;" *ngFor="let account of accounts;let i=index" (click)="showDetails(account)">

      <ion-row>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              <b>Client</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{account.client_name}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col col-3 style="text-overflow: ellipsis; flex:1;overflow: hidden;white-space: nowrap;">

          <ion-row>
            <ion-col>
              <b>Manager</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{account.advocatename}}
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              <b>Outstanding</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{account.outstanding_amount}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              <b>Status</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <span *ngIf="account.status=='Active User'" style="color:green;"> {{account.userstatus}}</span>
              <span *ngIf="account.status!='Active User'"> {{account.userstatus}}</span>

            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>

    </ion-card>
    -->

    <ion-card style="background-color: #efefef;border-radius: 2%; text-align: center;" *ngFor="let account of accounts;let i=index" (click)="openClient(account)">

      <ion-row style="padding-left: 5px;">

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="contact" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

        <ion-col style="margin:auto;" col-4>
          <ion-row>
            <ion-col style="text-align:left;">
              <b> {{account.client_name}}</b>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{account.advocatename}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{account.outstanding_amount}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="more" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-card>

  </div>



</ion-content>
