<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Client</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll='true'>

<form [formGroup]="addClientForm" >

  <ion-list>
    <ion-item no-lines>
      <ion-label stacked><b>Fields marked with * are compulsory</b></ion-label>
    </ion-item>

    <!--------------------------------------------Case Details------------------------------>
    <section>
      <ion-row class="detailsRow" (click)="toggleShowMore(0)">
        <ion-col col-8>
          <ion-label style="font-size:1em "><b>Case Details</b></ion-label>
        </ion-col>

        <ion-col col-2 class="completeIconCol">
          <ion-icon name="done-all" class="completeIcon" [color]="(addClientForm.controls.c_case_type.valid
                  && addClientForm.controls.c_alien_no.valid
                  && addClientForm.controls.c_case_category.valid
                  && addClientForm.controls.c_case_description.valid
                  && addClientForm.controls.c_date.valid)?'success':'invalid'"></ion-icon>
        </ion-col>
        <ion-col col-2 class="detailIconCol">
          <ion-icon class="detailIcon" *ngIf="! showCaseDetails" name="arrow-down"></ion-icon>
          <ion-icon class="detailIcon" *ngIf="showCaseDetails" name="arrow-up"></ion-icon>
        </ion-col>

      </ion-row>

      <div *ngIf="showCaseDetails">


        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_case_type.touched && ! addClientForm.controls.c_case_type.valid,'valid':(addClientForm.controls.c_case_type.touched && addClientForm.controls.c_case_type.valid)}" [class.invalid]="addClientForm.controls.c_case_type.dirty && ! addClientForm.controls.c_case_type.valid">
          <ion-label stacked>Case Type <span class="mandatory_field">*</span></ion-label>
          <ion-select interface="popover" formControlName="c_case_type" placeholder="Select Case Type">
            <ion-option *ngFor="let caseType of caseTypeList" value="{{caseType.id}}">{{caseType.case_type}}</ion-option>
          </ion-select>

        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_alien_no.touched && !addClientForm.controls.c_alien_no.valid,'valid':(addClientForm.controls.c_alien_no.touched && addClientForm.controls.c_alien_no.valid)}" [class.invalid]="addClientForm.controls.c_alien_no.dirty && ! addClientForm.controls.c_alien_no.valid">
          <ion-label stacked><b>Alien No. <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" required formControlName="c_alien_no" placeholder="Enter Alien No."></ion-input>
        </ion-item>

        <!--
        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_client_type.touched && !addClientForm.controls.c_client_type.valid,'valid':(addClientForm.controls.c_client_type.touched && addClientForm.controls.c_client_type.valid)}" [class.invalid]="addClientForm.controls.c_client_type.dirty && ! addClientForm.controls.c_client_type.valid">
          <ion-label stacked>Client Type <span class="mandatory_field"> *</span></ion-label>
          <ion-select interface="popover" formControlName="c_client_type" placeholder="Select Client Type">
            <ion-option value="Case Filer">Case Filer</ion-option>
            <ion-option value="Apposite From Case filer">Apposite From Case filer</ion-option>
          </ion-select>
        </ion-item>
         -->
        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_case_category.touched && !addClientForm.controls.c_case_category.valid,'valid':(addClientForm.controls.c_case_category.touched && addClientForm.controls.c_case_category.valid)}" [class.invalid]="addClientForm.controls.c_case_category.dirty && ! addClientForm.controls.c_case_category.valid">
          <ion-label stacked>Case Category <span class="mandatory_field"> *</span></ion-label>
          <ion-select interface="popover" formControlName="c_case_category" placeholder="Select Case Category">
            <ion-option value="New">New</ion-option>
            <ion-option value="Reopen">Reopen</ion-option>

          </ion-select>

        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_case_description.touched && !addClientForm.controls.c_case_description.valid,'valid':(addClientForm.controls.c_case_description.touched && addClientForm.controls.c_case_description.valid)}" [class.invalid]="addClientForm.controls.c_case_description.dirty && ! addClientForm.controls.c_case_description.valid">
          <ion-label stacked><b>Case Description</b></ion-label>
          <ion-input type="text" formControlName="c_case_description" placeholder="Enter Description"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_date.touched && !addClientForm.controls.c_date.valid,'valid':(addClientForm.controls.c_date.touched && addClientForm.controls.c_date.valid)}" [class.invalid]="addClientForm.controls.c_date.dirty && ! addClientForm.controls.c_date.valid">
          <ion-label stacked><b>Case Registered Date <span class="mandatory_field"> *</span></b></ion-label>
          <ion-datetime required formControlName="c_date" placeholder="Select Date (MM DD YYYY)" displayFormat="MM-DD-YYYY"></ion-datetime>
        </ion-item>

      </div>

    </section>
    <!---------------------------------------------Personal Details------------------------->
    <section>
      <ion-row class="detailsRow" (click)="toggleShowMore(1)">
        <ion-col col-8>
          <ion-label style="font-size:1em "><b>Personal Details</b></ion-label>
        </ion-col>

        <ion-col col-2 class="completeIconCol">
          <ion-icon name="done-all" class="completeIcon" [color]="(addClientForm.controls.c_name.valid
                  && addClientForm.controls.c_alias.valid
                  && addClientForm.controls.c_contact.valid
                  && addClientForm.controls.c_alt_no.valid
                  && addClientForm.controls.c_email.valid
                  && addClientForm.controls.c_notes.valid
                  && addClientForm.controls.c_address1.valid
                  && addClientForm.controls.c_address2.valid
                  && addClientForm.controls.c_city.valid
                  && addClientForm.controls.c_state.valid
                  && addClientForm.controls.c_zipcode.valid
                  && addClientForm.controls.c_country.valid
                  && addClientForm.controls.c_address1_billing.valid
                  && addClientForm.controls.c_address2_billing.valid
                  && addClientForm.controls.c_city_billing.valid
                  && addClientForm.controls.c_state_billing.valid
                  && addClientForm.controls.c_zipcode_billing.valid
                  && addClientForm.controls.c_country_billing.valid)?'success':'invalid'"></ion-icon>
        </ion-col>

        <ion-col col-2 class="detailIconCol">
          <ion-icon class="detailIcon" *ngIf="! showPersonalDetails" name="arrow-down"></ion-icon>
          <ion-icon class="detailIcon" *ngIf="showPersonalDetails" name="arrow-up"></ion-icon>
        </ion-col>

      </ion-row>

      <div *ngIf="showPersonalDetails">

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_name.touched && !addClientForm.controls.c_name.valid,'valid':(addClientForm.controls.c_name.touched && addClientForm.controls.c_name.valid)}" [class.invalid]="addClientForm.controls.c_name.dirty && ! addClientForm.controls.c_name.valid">
          <ion-label stacked><b>Full Name <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" required formControlName="c_name" placeholder="Enter Name"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_alias.touched && !addClientForm.controls.c_alias.valid,'valid':(addClientForm.controls.c_alias.touched && addClientForm.controls.c_alias.valid)}" [class.invalid]="addClientForm.controls.c_alias.dirty && ! addClientForm.controls.c_alias.valid">
          <ion-label stacked><b>Alias</b></ion-label>
          <ion-input type="text" formControlName="c_alias" placeholder="Enter Alias"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_contact.touched && !addClientForm.controls.c_contact.valid,'valid':(addClientForm.controls.c_contact.touched && addClientForm.controls.c_contact.valid)}" [class.invalid]="addClientForm.controls.c_contact.dirty && ! addClientForm.controls.c_contact.valid">
          <ion-label stacked><b>Contact No. <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="tel" [brmasker]="{mask:'(000)-000-0000', len:14, type:'number'}" required formControlName="c_contact" placeholder="Enter contact number"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_alt_no.touched && !addClientForm.controls.c_alt_no.valid,'valid':(addClientForm.controls.c_alt_no.touched && addClientForm.controls.c_alt_no.valid)}" [class.invalid]="addClientForm.controls.c_alt_no.dirty && ! addClientForm.controls.c_alt_no.valid">
          <ion-label stacked><b>Alternative No.</b></ion-label>
          <ion-input type="tel" [brmasker]="{mask:'(000)-000-0000', len:14, type:'number'}" formControlName="c_alt_no" placeholder="Enter alternate number"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_email.touched && !addClientForm.controls.c_email.valid,'valid':(addClientForm.controls.c_email.touched && addClientForm.controls.c_email.valid)}" [class.invalid]="addClientForm.controls.c_email.dirty && ! addClientForm.controls.c_email.valid">
          <ion-label stacked><b>Email Id</b></ion-label>
          <ion-input type="email" formControlName="c_email" placeholder="Enter email"></ion-input>
        </ion-item>

        <!--
          <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_notes.touched && !addClientForm.controls.c_notes.valid,'valid':(addClientForm.controls.c_notes.touched && addClientForm.controls.c_notes.valid)}" [class.invalid]="addClientForm.controls.c_notes.dirty && ! addClientForm.controls.c_notes.valid">
            <ion-label stacked><b>Notes</b></ion-label>
            <ion-input type="text" formControlName="c_notes" placeholder="Enter notes"></ion-input>
          </ion-item>
      -->
        <hr>
        <!----------Permanant Address----------->
        <ion-item no-lines>
          <ion-label><b>Permanent Address</b></ion-label>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_address1.touched && !addClientForm.controls.c_address1.valid,'valid':(addClientForm.controls.c_address1.touched && addClientForm.controls.c_address1.valid)}" [class.invalid]="addClientForm.controls.c_address1.dirty && ! addClientForm.controls.c_address1.valid">
          <ion-label stacked><b>Address 1 <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" (ionChange)="isBillingAndPermanentAddressSame?addClientForm.controls.c_address1_billing.setValue(addClientForm.value.c_address1):null" required formControlName="c_address1" placeholder="Enter Address"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_address2.touched && !addClientForm.controls.c_address2.valid,'valid':(addClientForm.controls.c_address2.touched && addClientForm.controls.c_address2.valid)}" [class.invalid]="addClientForm.controls.c_address2.dirty && ! addClientForm.controls.c_address2.valid">
          <ion-label stacked><b>Address 2</b></ion-label>
          <ion-input type="text" (ionChange)="isBillingAndPermanentAddressSame?addClientForm.controls.c_address2_billing.setValue(addClientForm.value.c_address2):null" formControlName="c_address2" placeholder="Enter Address"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_city.touched && !addClientForm.controls.c_city.valid,'valid':(addClientForm.controls.c_city.touched && addClientForm.controls.c_city.valid)}" [class.invalid]="addClientForm.controls.c_city.dirty && ! addClientForm.controls.c_city.valid">
          <ion-label stacked><b>City or Town <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" (ionChange)="isBillingAndPermanentAddressSame?addClientForm.controls.c_city_billing.setValue(addClientForm.value.c_city):null" required formControlName="c_city" placeholder="Enter City"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_state.touched && !addClientForm.controls.c_state.valid,'valid':(addClientForm.controls.c_state.touched && addClientForm.controls.c_state.valid)}" [class.invalid]="addClientForm.controls.c_state.dirty && ! addClientForm.controls.c_state.valid">
          <ion-label stacked><b>State <span class="mandatory_field"> *</span></b></ion-label>
          <ion-select interface="action-sheet" (ionChange)="isBillingAndPermanentAddressSame?addClientForm.controls.c_state_billing.setValue(addClientForm.value.c_state):null" required formControlName="c_state" name="state" placeholder="Select State">
            <ion-option *ngFor="let state of stateList" value="{{state.stateName}}">{{state.stateName}}</ion-option>
          </ion-select>

        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_zipcode.touched && !addClientForm.controls.c_zipcode.valid,'valid':(addClientForm.controls.c_zipcode.touched && addClientForm.controls.c_zipcode.valid)}" [class.invalid]="addClientForm.controls.c_zipcode.dirty && ! addClientForm.controls.c_zipcode.valid">
          <ion-label stacked><b>Zip Code <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" required (ionChange)="isBillingAndPermanentAddressSame?addClientForm.controls.c_zipcode_billing.setValue(addClientForm.value.c_zipcode):null" formControlName="c_zipcode" placeholder="Enter zipcode"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked><b>Country <span class="mandatory_field"> *</span></b></ion-label>
          <ion-label>United States</ion-label>
        </ion-item>
        <hr>

        <!----------Billing Address----------->
        <ion-item no-lines>
          <ion-label><b>Mailing Address</b><span style="float:right;font-size:12px;margin:inherit;">Same as Permanent Address</span><ion-checkbox style="float:right;margin:inherit" (click)="setBillingAddressSame()"></ion-checkbox> </ion-label>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_address1_billing.touched && !addClientForm.controls.c_address1_billing.valid,'valid':(addClientForm.controls.c_address1_billing.touched && addClientForm.controls.c_address1_billing.valid)}" [class.invalid]="addClientForm.controls.c_address1_billing.dirty && ! addClientForm.controls.c_address1_billing.valid">
          <ion-label stacked><b>Address 1 <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input [disabled]="isBillingAndPermanentAddressSame" type="text" required formControlName="c_address1_billing" placeholder="Enter Address"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_address2_billing.touched && !addClientForm.controls.c_address2_billing.valid,'valid':(addClientForm.controls.c_address2_billing.touched && addClientForm.controls.c_address2_billing.valid)}" [class.invalid]="addClientForm.controls.c_address2_billing.dirty && ! addClientForm.controls.c_address2_billing.valid">
          <ion-label stacked><b>Address 2</b></ion-label>
          <ion-input [disabled]="isBillingAndPermanentAddressSame" type="text" formControlName="c_address2_billing" placeholder="Enter Address"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_city_billing.touched && !addClientForm.controls.c_city_billing.valid,'valid':(addClientForm.controls.c_city_billing.touched && addClientForm.controls.c_city_billing.valid)}" [class.invalid]="addClientForm.controls.c_city_billing.dirty && ! addClientForm.controls.c_city_billing.valid">
          <ion-label stacked><b>City or Town <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" [disabled]="isBillingAndPermanentAddressSame" required formControlName="c_city_billing" placeholder="Enter City"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_state_billing.touched && !addClientForm.controls.c_state_billing.valid,'valid':(addClientForm.controls.c_state_billing.touched && addClientForm.controls.c_state_billing.valid)}" [class.invalid]="addClientForm.controls.c_state_billing.dirty && ! addClientForm.controls.c_state_billing.valid">
          <ion-label stacked><b>State <span class="mandatory_field"> *</span></b></ion-label>
          <ion-select interface="action-sheet" [disabled]="isBillingAndPermanentAddressSame" required formControlName="c_state_billing" name="state" placeholder="Select State">
            <ion-option *ngFor="let state of stateList" value="{{state.stateName}}">{{state.stateName}}</ion-option>
          </ion-select>

        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_zipcode_billing.touched && !addClientForm.controls.c_zipcode_billing.valid,'valid':(addClientForm.controls.c_zipcode_billing.touched && addClientForm.controls.c_zipcode_billing.valid)}" [class.invalid]="addClientForm.controls.c_zipcode_billing.dirty && ! addClientForm.controls.c_zipcode_billing.valid">
          <ion-label stacked><b>Zip Code <span class="mandatory_field"> *</span></b></ion-label>
          <ion-input type="text" [disabled]="isBillingAndPermanentAddressSame" required formControlName="c_zipcode_billing" placeholder="Enter zipcode"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked><b>Country <span class="mandatory_field"> *</span></b></ion-label>
          <ion-label>United States</ion-label>
        </ion-item>
      </div>
    </section>

    <!----------------------------------Entity Details-------------------------------->
    <section>
      <ion-item no-lines>
        <ion-label>Register Case as:</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6 style="text-align:right;">
          <ion-radio slot="start" value="false" [checked]="!hasRelation" (click)="changeRelation(false)"></ion-radio>
          <span>Applicant</span>
        </ion-col>

        <ion-col col-6 style="text-align:left;">
          <ion-radio slot="start" value="true" [checked]="hasRelation" (click)="changeRelation(true)"></ion-radio>
          <span>Petitioner</span>
        </ion-col>
      </ion-row>

      <!--------------------Entities--------------------->
      <div name="entityDetails" *ngIf="hasRelation">

        <ion-row class="detailsRow">
          <ion-col col-6>
            <ion-label style="font-size:1em "><b>Entities:<span style="margin-left:10px;">{{totalEntities}}</span></b></ion-label>
          </ion-col>
          <ion-col col-2 class="completeIconCol" (click)="addEntities()">
            <ion-icon name="add-circle" class="completeIcon" style="color:unset"></ion-icon>Add
          </ion-col>

          <ion-col col-2 class="completeIconCol">
            <ion-icon name="done-all" class="completeIcon" [color]="addClientForm.controls.entity.valid?'success':'invalid'"></ion-icon>
          </ion-col>

          <ion-col col-2 class="detailIconCol" (click)="toggleShowMore(5)">
            <ion-icon class="detailIcon" *ngIf="! showEntityDetails" name="arrow-down"></ion-icon>
            <ion-icon class="detailIcon" *ngIf="showEntityDetails" name="arrow-up"></ion-icon>
          </ion-col>

        </ion-row>
        <div *ngIf="showEntityDetails" formArrayName="entity" style="padding:10px;">

          <div *ngFor="let eachEntityForm of addClientForm.controls.entity.controls;let i=index;" [formGroupName]="i" [class]="showEachEntityDetails[i]?'eachEntity grayBorder':'eachEntity'">

            <!--Making the card-->

            <ion-row class="detailsRow" style="background-color: cadetblue;">
              <ion-col col-6>
                <ion-label style="font-size:1em "><b>Entity:<span style="margin-left:10px;">{{i+1}}</span></b></ion-label>
              </ion-col>
              <ion-col col-4 class="completeIconCol" (click)="removeEntity(i)">
                <ion-icon name="remove-circle" class="completeIcon" style="color:unset"></ion-icon> Remove
              </ion-col>

              <ion-col col-2 class="detailIconCol" (click)="toggleShowMoreEntity(i)">
                <ion-icon class="detailIcon" *ngIf="! showEachEntityDetails[i]" name="arrow-down"></ion-icon>
                <ion-icon class="detailIcon" *ngIf="showEachEntityDetails[i]" name="arrow-up"></ion-icon>
              </ion-col>

            </ion-row>

            <div *ngIf="showEachEntityDetails[i]">

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_type.touched && !addClientForm.get('entity').controls[i].e_type.valid,'valid':(addClientForm.get('entity').controls[i].e_type.touched && addClientForm.get('entity').controls[i].e_type.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_type.dirty && ! addClientForm.get('entity').controls[i].e_type.valid">
                <ion-label stacked><b>Type <span class="mandatory_field"> *</span></b></ion-label>
                <ion-select required interface="popover" formControlName="e_type" placeholder="Select entity type">
                  <ion-option *ngFor="let entityType of entityTypeList" value="{{entityType.value}}">{{entityType.name}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_relationship.touched && !addClientForm.get('entity').controls[i].e_relationship.valid,'valid':(addClientForm.get('entity').controls[i].e_relationship.touched && addClientForm.get('entity').controls[i].e_relationship.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_relationship.dirty && ! addClientForm.get('entity').controls[i].e_relationship.valid">
                <ion-label stacked><b>Relationship <span class="mandatory_field"> *</span></b></ion-label>
                <ion-select required interface="popover" formControlName="e_relationship" placeholder="Select a Relationship">
                  <ion-option *ngFor="let relation of relationshipList" value="{{relation.value}}">{{relation.name}}</ion-option>
                </ion-select>
              </ion-item>


              <ion-item no-lines  ngClass="{'error':addClientForm.get('entity').controls[i].e_name.touched && !addClientForm.get('entity').controls[i].e_name.valid,'valid':(addClientForm.get('entity').controls[i].e_name.touched && addClientForm.get('entity').controls[i].e_name.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_name.dirty && ! addClientForm.get('entity').controls[i].e_name.valid">
                <ion-label stacked><b>Full Name <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="text" required formControlName="e_name" placeholder="Enter Name"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_alias.touched && !addClientForm.get('entity').controls[i].e_alias.valid,'valid':(addClientForm.get('entity').controls[i].e_alias.touched && addClientForm.get('entity').controls[i].e_alias.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_alias.dirty && ! addClientForm.get('entity').controls[i].e_alias.valid">
                <ion-label stacked><b>Alias</b></ion-label>
                <ion-input type="text" formControlName="e_alias" placeholder="Enter Alias"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_contact.touched && !addClientForm.get('entity').controls[i].e_contact.valid,'valid':(addClientForm.get('entity').controls[i].e_contact.touched && addClientForm.get('entity').controls[i].e_contact.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_contact.dirty && ! addClientForm.get('entity').controls[i].e_contact.valid">
                <ion-label stacked><b>Contact No. <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="tel" [brmasker]="{mask:'(000)-000-0000', len:14, type:'number'}" required formControlName="e_contact" placeholder="Enter contact number"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_alt_no.touched && !addClientForm.get('entity').controls[i].e_alt_no.valid,'valid':(addClientForm.get('entity').controls[i].e_alt_no.touched && addClientForm.get('entity').controls[i].e_alt_no.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_alt_no.dirty && ! addClientForm.get('entity').controls[i].e_alt_no.valid">
                <ion-label stacked><b>Alternative No.</b></ion-label>
                <ion-input type="tel" [brmasker]="{mask:'(000)-000-0000', len:14, type:'number'}" formControlName="e_alt_no" placeholder="Enter alternate number"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_email.touched && !addClientForm.get('entity').controls[i].e_email.valid,'valid':(addClientForm.get('entity').controls[i].e_email.touched && addClientForm.get('entity').controls[i].e_email.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_email.dirty && ! addClientForm.get('entity').controls[i].e_email.valid">
                <ion-label stacked><b>Email Id</b></ion-label>
                <ion-input type="email" formControlName="e_email" placeholder="Enter email"></ion-input>
              </ion-item>
              <!--
                <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_notes.touched && !addClientForm.get('entity').controls[i].e_notes.valid,'valid':(addClientForm.get('entity').controls[i].e_notes.touched && addClientForm.get('entity').controls[i].e_notes.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_notes.dirty && ! addClientForm.get('entity').controls[i].e_notes.valid">
                  <ion-label stacked><b>Notes</b></ion-label>
                  <ion-input type="text" formControlName="e_notes" placeholder="Enter notes"></ion-input>
                </ion-item>
              -->
              <hr>
              <!----------Permanant Address----------->
              <ion-item no-lines>
                <ion-label><b>Permanent Address</b></ion-label>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_address1.touched && !addClientForm.get('entity').controls[i].e_address1.valid,'valid':(addClientForm.get('entity').controls[i].e_address1.touched && addClientForm.get('entity').controls[i].e_address1.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_address1.dirty && ! addClientForm.get('entity').controls[i].e_address1.valid">
                <ion-label stacked><b>Address 1 <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="text" (ionChange)="isBillingAndPermanentAddressSameForEntity[i]?addClientForm.get('entity')['controls'][i].controls.e_address1_billing.setValue(addClientForm.get('entity')['controls'][i].value.e_address1):null" required formControlName="e_address1" placeholder="Enter Address"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_address2.touched && !addClientForm.get('entity').controls[i].e_address2.valid,'valid':(addClientForm.get('entity').controls[i].e_address2.touched && addClientForm.get('entity').controls[i].e_address2.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_address2.dirty && ! addClientForm.get('entity').controls[i].e_address2.valid">
                <ion-label stacked><b>Address 2</b></ion-label>
                <ion-input type="text" (ionChange)="isBillingAndPermanentAddressSameForEntity[i]?addClientForm.get('entity')['controls'][i].controls.e_address2_billing.setValue(addClientForm.get('entity')['controls'][i].value.e_address2):null" formControlName="e_address2" placeholder="Enter Address"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_city.touched && !addClientForm.get('entity').controls[i].e_city.valid,'valid':(addClientForm.get('entity').controls[i].e_city.touched && addClientForm.get('entity').controls[i].e_city.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_city.dirty && ! addClientForm.get('entity').controls[i].e_city.valid">
                <ion-label stacked><b>City or Town <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="text" (ionChange)="isBillingAndPermanentAddressSameForEntity[i]?addClientForm.get('entity').controls[i].controls.e_city_billing.setValue(addClientForm.get('entity')['controls'][i].value.e_city):null" required formControlName="e_city" placeholder="Enter City"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_state.touched && !addClientForm.get('entity').controls[i].e_state.valid,'valid':(addClientForm.get('entity').controls[i].e_state.touched && addClientForm.get('entity').controls[i].e_state.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_state.dirty && ! addClientForm.get('entity').controls[i].e_state.valid">
                <ion-label stacked><b>State <span class="mandatory_field"> *</span></b></ion-label>
                <ion-select interface="action-sheet" (ionChange)="isBillingAndPermanentAddressSameForEntity[i]?addClientForm.get('entity')['controls'][i].controls.e_state_billing.setValue(addClientForm.get('entity')['controls'][i].value.e_state):null" required formControlName="e_state" name="state" placeholder="Select State">
                  <ion-option *ngFor="let state of stateList" value="{{state.stateName}}">{{state.stateName}}</ion-option>
                </ion-select>

              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_zipcode.touched && !addClientForm.get('entity').controls[i].e_zipcode.valid,'valid':(addClientForm.get('entity').controls[i].e_zipcode.touched && addClientForm.get('entity').controls[i].e_zipcode.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_zipcode.dirty && ! addClientForm.get('entity').controls[i].e_zipcode.valid">
                <ion-label stacked><b>Zip Code <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="text" required (ionChange)="isBillingAndPermanentAddressSameForEntity[i]?addClientForm.get('entity')['controls'][i].controls.e_zipcode_billing.setValue(addClientForm.get('entity')['controls'][i].value.e_zipcode):null" formControlName="e_zipcode" placeholder="Enter zipcode"></ion-input>
              </ion-item>

              <ion-item no-lines>
                <ion-label stacked><b>Country <span class="mandatory_field"> *</span></b></ion-label>
                <ion-label>United States</ion-label>
              </ion-item>
              <hr>

              <!----------Billing Address----------->
              <ion-item no-lines>
                <ion-label><b>Mailing Address</b><span style="float:right;font-size:12px;margin:inherit;">Same as Permanent Address</span><ion-checkbox style="float:right;margin:inherit" (click)="setBillingAddressSameForEntity(i)"></ion-checkbox> </ion-label>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_address1_billing.touched && !addClientForm.get('entity').controls[i].e_address1_billing.valid,'valid':(addClientForm.get('entity').controls[i].e_address1_billing.touched && addClientForm.get('entity').controls[i].e_address1_billing.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_address1_billing.dirty && ! addClientForm.get('entity').controls[i].e_address1_billing.valid">
                <ion-label stacked><b>Address 1 <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input [disabled]="isBillingAndPermanentAddressSameForEntity[i]" type="text" required formControlName="e_address1_billing" placeholder="Enter Address"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_address2_billing.touched && !addClientForm.get('entity').controls[i].e_address2_billing.valid,'valid':(addClientForm.get('entity').controls[i].e_address2_billing.touched && addClientForm.get('entity').controls[i].e_address2_billing.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_address2_billing.dirty && ! addClientForm.get('entity').controls[i].e_address2_billing.valid">
                <ion-label stacked><b>Address 2</b></ion-label>
                <ion-input [disabled]="isBillingAndPermanentAddressSameForEntity[i]" type="text" formControlName="e_address2_billing" placeholder="Enter Address"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_city_billing.touched && !addClientForm.get('entity').controls[i].e_city_billing.valid,'valid':(addClientForm.get('entity').controls[i].e_city_billing.touched && addClientForm.get('entity').controls[i].e_city_billing.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_city_billing.dirty && ! addClientForm.get('entity').controls[i].e_city_billing.valid">
                <ion-label stacked><b>City or Town <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="text" [disabled]="isBillingAndPermanentAddressSameForEntity[i]" required formControlName="e_city_billing" placeholder="Enter City"></ion-input>
              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_state_billing.touched && !addClientForm.get('entity').controls[i].e_state_billing.valid,'valid':(addClientForm.get('entity').controls[i].e_state_billing.touched && addClientForm.get('entity').controls[i].e_state_billing.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_state_billing.dirty && ! addClientForm.get('entity').controls[i].e_state_billing.valid">
                <ion-label stacked><b>State <span class="mandatory_field"> *</span></b></ion-label>
                <ion-select interface="action-sheet" [disabled]="isBillingAndPermanentAddressSameForEntity[i]" required formControlName="e_state_billing" name="state" placeholder="Select State">
                  <ion-option *ngFor="let state of stateList" value="{{state.stateName}}">{{state.stateName}}</ion-option>
                </ion-select>

              </ion-item>

              <ion-item no-lines ngClass="{'error':addClientForm.get('entity').controls[i].e_zipcode_billing.touched && !addClientForm.get('entity').controls[i].e_zipcode_billing.valid,'valid':(addClientForm.get('entity').controls[i].e_zipcode_billing.touched && addClientForm.get('entity').controls[i].e_zipcode_billing.valid)}" class.invalid="addClientForm.get('entity').controls[i].e_zipcode_billing.dirty && ! addClientForm.get('entity').controls[i].e_zipcode_billing.valid">
                <ion-label stacked><b>Zip Code <span class="mandatory_field"> *</span></b></ion-label>
                <ion-input type="text" [disabled]="isBillingAndPermanentAddressSameForEntity[i]" required formControlName="e_zipcode_billing" placeholder="Enter zipcode"></ion-input>
              </ion-item>

              <ion-item no-lines>
                <ion-label stacked><b>Country <span class="mandatory_field"> *</span></b></ion-label>
                <ion-label>United States</ion-label>
              </ion-item>
            </div>




          </div>

        </div>

      </div>

    </section>
    <!----------------------------------Case Manager Details-------------------------------->
    <section>
      <ion-row class="detailsRow" (click)="toggleShowMore(3)">
        <ion-col col-8>
          <ion-label style="font-size:1em "><b>Case Manager</b></ion-label>
        </ion-col>

        <ion-col col-2 class="completeIconCol">
          <ion-icon name="done-all" class="completeIcon" [color]="(addClientForm.controls.c_filing_cm.valid
                  && addClientForm.controls.c_cm_assigned.valid)?'success':'invalid'"></ion-icon>
        </ion-col>

        <ion-col col-2 class="detailIconCol">
          <ion-icon class="detailIcon" *ngIf="! showCaseManagerDetails" name="arrow-down"></ion-icon>
          <ion-icon class="detailIcon" *ngIf="showCaseManagerDetails" name="arrow-up"></ion-icon>
        </ion-col>

      </ion-row>

      <div *ngIf="showCaseManagerDetails">
        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_filing_cm.touched && !addClientForm.controls.c_filing_cm.valid,'valid':(addClientForm.controls.c_filing_cm.touched && addClientForm.controls.c_filing_cm.valid)}" [class.invalid]="addClientForm.controls.c_filing_cm.dirty && ! addClientForm.controls.c_filing_cm.valid">
          <ion-label stacked><b>Filing Case Manager Name (If any)</b></ion-label>
          <ion-input formControlName="c_filing_cm"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_cm_assigned.touched && !addClientForm.controls.c_cm_assigned.valid,'valid':(addClientForm.controls.c_cm_assigned.touched && addClientForm.controls.c_cm_assigned.valid)}" [class.invalid]="addClientForm.controls.c_cm_assigned.dirty && ! addClientForm.controls.c_cm_assigned.valid">
          <ion-label stacked><b>Case Manager Assigned To <span class="mandatory_field"> *</span></b></ion-label>
          <ion-select interface="popover" required formControlName="c_cm_assigned" placeholder="Select Case Manager">
            <ion-option *ngFor="let advocate of advocate_list" value="{{advocate.id}}">{{advocate.name}} ({{advocate.id}})</ion-option>
          </ion-select>


        </ion-item>
      </div>

    </section>
    <!------------------------------Defendant Details-------------------------------->
    <section>
      <ion-row class="detailsRow" (click)="toggleShowMore(4)">
        <ion-col col-8>
          <ion-label style="font-size:1em"><b>Defendant Details</b></ion-label>
        </ion-col>


        <ion-col col-2 class="completeIconCol">
          <ion-icon name="done-all" class="completeIcon" [color]="(addClientForm.controls.c_defendent_name.valid
                  && addClientForm.controls.c_defendent_alias.valid
                  && addClientForm.controls.c_defendent_manager.valid)?'success':'invalid'"></ion-icon>
        </ion-col>

        <ion-col col-2 class="detailIconCol">
          <ion-icon class="detailIcon" *ngIf="! showDefendantDetails" name="arrow-down"></ion-icon>
          <ion-icon class="detailIcon" *ngIf="showDefendantDetails" name="arrow-up"></ion-icon>
        </ion-col>

      </ion-row>
      <div *ngIf="showDefendantDetails">

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_defendent_name.touched && !addClientForm.controls.c_defendent_name.valid,'valid':(addClientForm.controls.c_defendent_name.touched && addClientForm.controls.c_defendent_name.valid)}" [class.invalid]="addClientForm.controls.c_defendent_name.dirty && ! addClientForm.controls.c_defendent_name.valid">
          <ion-label stacked><b>Full Name</b></ion-label>
          <ion-input type="text" formControlName="c_defendent_name" placeholder="Enter Defendant Name"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_defendent_alias.touched && !addClientForm.controls.c_defendent_alias.valid,'valid':(addClientForm.controls.c_defendent_alias.touched && addClientForm.controls.c_defendent_alias.valid)}" [class.invalid]="addClientForm.controls.c_defendent_alias.dirty && ! addClientForm.controls.c_defendent_alias.valid">
          <ion-label stacked><b>Alias</b></ion-label>
          <ion-input type="text" formControlName="c_defendent_alias" placeholer="Enter Defendant Alias"></ion-input>
        </ion-item>

        <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_defendent_manager.touched && !addClientForm.controls.c_defendent_manager.valid,'valid':(addClientForm.controls.c_defendent_manager.touched && addClientForm.controls.c_defendent_manager.valid)}" [class.invalid]="addClientForm.controls.c_defendent_manager.dirty && ! addClientForm.controls.c_defendent_manager.valid">
          <ion-label stacked><b>Defendant Manager Name (If any)</b></ion-label>
          <ion-input type="text" formControlName="c_defendent_manager"></ion-input>
        </ion-item>

      </div>
    </section>

    <!------------------------------Fee Details-------------------------------->
    <!--
        <section>
  <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_reg_fee.touched && !addClientForm.controls.c_reg_fee.valid,'valid':(addClientForm.controls.c_reg_fee.touched && addClientForm.controls.c_reg_fee.valid)}" [class.invalid]="addClientForm.controls.c_reg_fee.dirty && ! addClientForm.controls.c_reg_fee.valid">
    <ion-label stacked><b>Registration Fee</b></ion-label>
    <ion-input type="num"  formControlName="c_reg_fee" placeholder="Enter Registration Fee"></ion-input>
  </ion-item>

  <ion-item no-lines [ngClass]="{'error':addClientForm.controls.c_decided_fee.touched && !addClientForm.controls.c_decided_fee.valid,'valid':(addClientForm.controls.c_decided_fee.touched && addClientForm.controls.c_decided_fee.valid)}" [class.invalid]="addClientForm.controls.c_decided_fee.dirty && ! addClientForm.controls.c_decided_fee.valid">
    <ion-label stacked><b>Decided Fee</b></ion-label>
    <ion-input type="num"  formControlName="c_decided_fee" placeholder="Enter Decided Fee"></ion-input>
  </ion-item>
        </section>
  -->

  </ion-list>
   <ion-row>
    <ion-col style="text-align: center">
    <button ion-button round end [disabled]="! addClientForm.valid" (click)="submitData()">Add Client</button>
    </ion-col>
    </ion-row>

</form>
</ion-content>
