add_client {
  .mandatory_field {
    color: red;
  }

  .detailsRow
  {
    border-bottom: 1px solid gray;
    background-color: #ffd07a;
    margin: 5px;
  }

  .completeIconCol {
    margin: auto;
    text-align: right;
  }

  .completeIcon {
    zoom: 1.2;
    padding: 2px;
  }

  .detailIconCol {
    text-align: center;
    display: grid;
  }

  .detailIcon {
    margin: auto;
  }

  .eachEntity {
  }


  .grayBorder {
    border: 1px solid gray;
  }

  .error > .item-inner {
    border-bottom-color: red !important;
    border-bottom: 1px solid red !important;
  }

  .valid > .item-inner {
    border-bottom-color: #32db64 !important;
    border-bottom: 1px solid #32db64 !important;
  }
}
