<ion-header>
	<ion-navbar color="secondary">
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    
	    <ion-row center style="text-align: left;vertical-align: middle;">
	      <ion-col>
	         <ion-title style="text-align: left;height: 100%;vertical-align: middle;">
	          SMS List
	         </ion-title>

	      </ion-col>
	      <ion-col style="text-align: right;">
	       
	          <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>
	      
	      </ion-col>
	    </ion-row>
     
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-6>
      <ion-item no-lines>
        <ion-label stacked>From</ion-label>
        <ion-datetime name="from_date" placeholder="Select" [(ngModel)]="s_from" displayFormat="DD MM YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item no-lines>
        <ion-label stacked>To</ion-label>
        <ion-datetime [(ngModel)]="s_to" placeholder="Select" name="n_date" displayFormat="DD MM YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-item>
    <ion-input type="text" placeholder="Search By Client Name" [(ngModel)]="s_search" name="search"></ion-input>
  </ion-item>



  <ion-row>
    <ion-col style="text-align: center">
      <button ion-button round icon-start end (click)="fetchData()"><ion-icon name="search"></ion-icon>Filter</button>
    </ion-col>
  </ion-row>

  <br>
  <hr>
  <br>
  <ion-item no-lines style="min-height:unset;">
    <ion-label style="text-align:right;font-size:14px;color:#808080;margin:0px;">Total SMS:{{smsList.length+1}}</ion-label>
  </ion-item>
  <div *ngFor="let sms of sms_list;let i=index">
    <ion-card class="simpleCard" (click)="showDetails(sms,$event,i)">

      <ion-row style="padding-left: 5px;">

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="mail" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col style="text-align:left;">
              <b> {{sms.name}} </b>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;white-space:unset;overflow:unset;" col-4>
          <ion-row>
            <ion-col>
              {{sms.contact_no}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{sms.smsSendDate | date :  "MMM d,y"}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="more" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-card>

    <div class="smsDetails" *ngIf="visibility[i]">

      <ion-row>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Name</ion-label>
            <ion-label>{{sms.name}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Sent To</ion-label>
            <ion-label>{{sms.contact_no}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Date</ion-label>
            <ion-label>{{sms.smsSendDate}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>SMS Text</ion-label>
            <ion-label style="overflow:unset;white-space:unset;">{{sms.sms_text}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="sms_list==undefined || sms_list==null || sms_list.length==0">
    <no-record-found></no-record-found>
  </div>


</ion-content>
