page-forgot-password {
  .profile-item {
    text-align: center;
    background-color: transparent;
  }

  .profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
    width: 144px;
    height: 144px;
    border-radius: 100%;
  }

  ion-content {
    .scroll-content {
      //background-image: linear-gradient(rgba(142, 142, 142, 0.22), rgba(0, 128, 236, 0.3)); //Blue Overlay
      background-color: #00000078;
      height: 100%;
    }
  }

  .transparentBG {
    background-color: transparent;
  }


  img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
  }

  .error > .item-inner {
    border-bottom-color: red !important;
    border-bottom: 1px solid red !important;
    box-shadow: inset 0 -1px 0 0 red !important;
    -webkit-box-shadow: inset 0 0px 0 0 red !important;
  }
}
