
  <ion-content class="area">
    <!--
    <ion-toolbar *ngIf="showSearch">
            <ion-searchbar showCancelButton animated cancel-button-icon (ionCancel)="hideSearch()" (search)="searchClient()" placeholder="Allien no. | Docket No. | index No." ></ion-searchbar>
      </ion-toolbar>
  -->
    <div class="area mainBackgroundColor" style="background:transparent;">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <ion-row>
        <ion-col>
          <ion-icon menuToggle name="menu" class="toolbarMenuIcon"></ion-icon>

        </ion-col>

        <!--------------Currently hardcoding search access control for client (user_type_id=5)--------------->
        <ion-col style="text-align:right;" *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id!=5">
          <ion-icon (click)="searchClient()" size="large" class="toolbarMenuIcon" name="search"></ion-icon>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="text-align:center;">

          <img src="assets/imgs/logo.png" style="max-width:256px; max-height:256px; object-fit: contain;" />

        </ion-col>
      </ion-row>
      <br />
      <br />
      <ion-row>
        <ion-col col-6 style="text-align:center;">
          <h4 style="color: $textColor;font-size:1.2em;font-weight:700;">Reminders</h4>
          <h5 style="color: $textColor;font-size:2em;">{{total_reminders}}</h5>
          <span (click)="openRemindersList()">
            <button ion-button class="headerButtons"><ion-icon class="headerText" name="bulb"></ion-icon></button>
            <h6 class="headerText">See All</h6>
          </span>
        </ion-col>

        <ion-col col-6 style="text-align:center;">
          <h4 style="color: $textColor;font-size:1.2em;font-weight:700;">Notifications</h4>
          <h5 style="color: $textColor;font-size:2em;">{{total_notifications}}</h5>
          <span (click)="openNotificationsList()">
            <button ion-button class="headerButtons"><ion-icon class="headerText" name="notifications"></ion-icon></button>
            <h6 class="headerText">See All</h6>
          </span>
        </ion-col>
      </ion-row>

      <!-- Documetns and Appointment in grid layout only for CLIENT(User Type Id=5) -->

      <div *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id==5">
        <ion-row>
          <ion-col col-6 style="text-align:center;">
            <h4 style="color: $textColor;font-size:1.2em;font-weight:700;">Book Appointment</h4>

            <span (click)="bookAppointment()">
              <button ion-button class="headerButtons"><ion-icon class="headerText" name="bookmark"></ion-icon></button>
              <h6 class="headerText">Book Now</h6>
            </span>
          </ion-col>

          <ion-col col-6 style="text-align:center;">
            <h4 style="color: $textColor;font-size:1.2em;font-weight:700;">My Documents</h4>

            <span (click)="documentsList()">
              <button ion-button class="headerButtons"><ion-icon class="headerText" name="paper"></ion-icon></button>
              <h6 class="headerText">See All</h6>
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6 style="text-align:center;">
            <h4 style="color: $textColor;font-size:1.2em;font-weight:700;">Website</h4>

            <span (click)="openWebsite()">
              <button ion-button class="headerButtons"><ion-icon class="headerText" name="at"></ion-icon></button>
              <h6 class="headerText">Visit</h6>
            </span>
          </ion-col>

          <ion-col col-6 style="text-align:center;">
            <h4 style="color: $textColor;font-size:1.2em;font-weight:700;">Check Case Status</h4>

            <span (click)="checkCaseStatus()">
              <button ion-button class="headerButtons"><ion-icon class="headerText" name="stats"></ion-icon></button>
              <h6 class="headerText">Check Now</h6>
            </span>
          </ion-col>

        </ion-row>

      </div>



    </div>

    <ion-card class="dashboardCard" *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id!=5 && loggedInUser.user_type_id!=4 && loggedInUser.user_type_id!=7">

      <!--Currently hardcoding access for admin users-->
      <ion-card-header class="headerContent">
        Clients
        <ion-icon name="contacts" end></ion-icon>
      </ion-card-header>

      <ion-card-content>

        <ion-row>
          <ion-col>
            Total Clients: <b>{{total_clients}}</b><br>
          </ion-col>
          <ion-col style="text-align: right">
            <button ion-button (click)="addClient()" style="background-color: #033054">Add a Client</button>
          </ion-col>
        </ion-row>
      </ion-card-content>


    </ion-card>

    <!--
  <ion-card class="dashboardCard" *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id==5">
    <!--Currently hardcoding access for a client user
    <ion-card-header class="headerContent">
      Book Appointment
      <ion-icon name="bookmark" end></ion-icon>
    </ion-card-header>

    <ion-card-content>

      <ion-row>

        <ion-col style="text-align: right">
          <button ion-button (click)="bookAppointment()" style="background-color: #033054">Book an Appointment</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  -->

    <ion-card class="dashboardCard" *ngIf="loggedInUser!=undefined && (loggedInUser.user_type_id==4 || loggedInUser.user_type_id==7)">
      <!--Currently hardcoding access for a Advocate user-->
      <ion-card-header class="headerContent">
        Appointments <ion-icon name="bookmark" end></ion-icon>
      </ion-card-header>

      <ion-card-content>

        <ion-row>
          <ion-col>
            Total Appointments: <b> {{total_appointments}}</b><br>
          </ion-col>

          <ion-col style="text-align: right">
            <button ion-button (click)="viewAppointments()" style="background-color: #033054">View </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--
  <ion-card class="dashboardCard" style="background-color:#3F51B5" *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id==5">
    <!--Currently hardcoding access for a client user
    <ion-card-header class="headerContent">
      My Documents
      <ion-icon name="document" end></ion-icon>
    </ion-card-header>

    <ion-card-content>

      <ion-row>

        <ion-col style="text-align: right">
          <button ion-button (click)="documentsList()" style="background-color: #033054">View / Upload</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  -->
    <!--------------Currently hardcoding Calender access control for client (user_type_id=5)--------------->

    <div *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id!=5" #frame style="height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
      <iframe [src]="calendarLink" class="iframe" style="width:100%;min-height:360px;margin-top:20px" scrolling="yes"></iframe>
    </div>


  </ion-content>
