<ion-header>
 
  <ion-navbar color="secondary">
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    
	    <ion-row center style="text-align: center;vertical-align: middle;">
	      <ion-col>
	         <ion-title style="text-align: center;height: 100%;vertical-align: middle;">
	           All Users
	         </ion-title>

	      </ion-col>
	      <ion-col style="text-align: right;">
	       
	          <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>
	      
	      </ion-col>
	    </ion-row>
     
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-list>
	<ion-item>
	     <ion-input type="text" placeholder="Search Name" [(ngModel)]="u_search" name="search"></ion-input>
	  </ion-item>

	</ion-list>
   
  <ion-row>
    <ion-col col-6 style="text-align: center">
      <button ion-button round icon-start end (click)="fetchData()"><ion-icon name="search"></ion-icon>Search</button>
    </ion-col>

    <ion-col col-6 style="text-align: center">
      <button icon-start ion-button round (click)="addUser()"><ion-icon name="add"></ion-icon>Add User</button>
    </ion-col>
  </ion-row>

   <br> <br>
	<div style="overflow-x:auto">
<!--

		<table>
	
			<tr>
			
				<th><b>S.No.</b></th>
		
				<th class="greaterSize"><b>Image</b></th>


				<th class="greaterSize"><b>Name (Username)</b></th>

				<th class="greaterSize"><b>Email</b></th>

				<th class="greaterSize"><b>Contact No.</b></th>

				<th><b>User Type</b></th>


				<th><b>Status</b></th>

			</tr>
	

				<tr *ngFor="let user of users;let i=index" (click)="viewSingleUser(user.id)">

						<td> {{i+1}}</td>
						// <td> <button ion-button (click)="viewSingleUser(user.id)">View User</button> </td> 

						<td class="greaterSize"> <img alt="No Image" src="http://jagdambasoftwaresolutions.com/dsd/upload/{{user.profile_img}}" width="96px" height="96px"/></td>

						<td class="greaterSize">{{user.name}}({{user.username}})</td>

						<td class="greaterSize">{{user.email}}</td>

						<td class="greaterSize">{{user.contact}}</td>
						<td [ngSwitch]="user.usertype_id"> 
								<span *ngSwitchCase="2">ADMIN</span>
								<span *ngSwitchDefault>Normal User</span>
						</td>						
						<td [ngSwitch]="user.status"> 
								<span *ngSwitchCase="0">Active</span>
								<span *ngSwitchDefault>Unknown State</span>
						</td>


				</tr>
		   </table>
		-->

	<ion-card style="background-color: #efefef;border-radius: 2%"  *ngFor="let user of users;let i=index" (click)="viewSingleUser(user.id)" >
		<ion-row>
			<ion-col col-4 style='text-align: center;'>
				<ion-row row-3 style='text-align: center;' class="profile-picture">
						<img alt="No Image"*ngIf="user.profile_img.length!=0" src="{{apiValue.baseImageFolder}}{{user.profile_img}}" />
						<img alt="No Image"*ngIf="user.profile_img.length==0" src="assets/imgs/user.png" />

				</ion-row>
				<ion-row row-1 style='text-align: center;' >
					<ion-col>
						<span [ngSwitch]="user.usertype_id"> 
								<span *ngSwitchCase="2">ADMIN</span>
								<span *ngSwitchDefault>Normal User</span>
					</span>
					</ion-col>
					
				</ion-row>
			</ion-col>
			<ion-col col-6 style="vertical-align: middle;">

				<ion-row>
					<ion-col style="display: flex;">
						<h3 style="flex:1;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"><ion-icon name="person"></ion-icon><b>{{user.name}}({{user.username}})</b></h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col style="display: flex;">
						<h3 style="text-overflow: ellipsis; flex:1;white-space: nowrap;overflow: hidden;"><ion-icon name="mail"></ion-icon>{{user.email}}</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<h3><ion-icon name="call"></ion-icon>Tel: {{user.contact}}</h3>
					</ion-col>
				</ion-row>
			
			</ion-col>
			<ion-col col-2 style="text-align: right">
				<ion-row>
					<ion-col>
						<span [ngSwitch]="user.status"> 

								<span *ngSwitchCase="0" style="color: green;font-size: 0.8em">
									
									Active
								</span>
								<span *ngSwitchDefault style="font-size: 0.8em; text-overflow: ellipsis; white-space: nowrap; flex:1;overflow: hidden;">
									
									Unknown State
								</span>
						</span>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-card>
	</div>

</ion-content>
