document {
  .simpleCard {
    background-color: #efefef;
    border-radius: 2%;
    text-align: center;
    margin: 5px 2px;
    box-shadow: 1px 2px darkgrey;
  }

  .simpleCard ion-col {
    text-overflow: ellipsis;
    flex: 1;
    overflow: hidden;
  }


  .simpleCardSelected {
    background-color: #abffab;
    border-radius: 2%;
    text-align: center;
    margin: 5px 2px;
    box-shadow: 1px 2px darkgrey;
  }

  .blurDiv {
    filter: blur(3px);
  }
}
