<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-10 style="text-align:left">
        <ion-title>Documents</ion-title>
      </ion-col>
      <ion-col col-2 style="margin:auto;">
        <ion-icon name="refresh" (click)="fetchData()" style="float:right;margin-right:10px;color:white;zoom:1.5;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>

  <div [class]="blurAmount">

    <div *ngIf="uploadDocList!=undefined && uploadDocList.length>0">
      <ion-row>
        <ion-col style="text-align:center;">
          <ion-label><b>Selected File:</b>{{selected_file_name}}</ion-label>
          <button icon-start *ngIf="isUploading" ion-button [disabled]="(selected_file_name==undefined || selected_file_name.length==0)" (click)="cancelUpload()"><ion-icon name="close"></ion-icon>Cancel</button>
          <button icon-start *ngIf="isUploading" ion-button [disabled]="(selected_file_name==undefined || selected_file_name.length==0)" (click)="cancelUpload(true)"><ion-icon name="close"></ion-icon>Cancel All</button><br />
          <progress-bar *ngIf="isUploading" [progress]="uploadProgress"></progress-bar>

          <p style="width:100%;" *ngIf="isUploading">{{uploadProgress}}%</p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let eachUploadDoc of uploadDocList;let i=index">

        <ion-col col-11>
          <p>{{getDocName(eachUploadDoc)}}</p>
        </ion-col>

        <ion-col col-1 (click)="removeFilesFromUpload(i)">
          <ion-icon name="close"></ion-icon>
        </ion-col>

      </ion-row>

    </div>
    <ion-row>
      <ion-col style="text-align:center;">
        <button icon-start ion-button (click)="showFileSelectionDialog()"><ion-icon name="add"></ion-icon>Add New</button>
        <button ion-button icon-start [disabled]="doc_list==null || doc_list==undefined || doc_list.length==0" (click)="downloadMultipleDoc()"><ion-icon name="cloud-download"></ion-icon>{{selectedDocList.length==0?'Download All':'Download Selected'}}</button>

      </ion-col>
    </ion-row>



    <hr>


    <div *ngFor="let doc of doc_list;let i=index">
      <ion-card class="{{isDocumentSelected(doc)?'simpleCardSelected':'simpleCard'}}">

        <ion-row style="padding-left: 5px;">

          <ion-checkbox (ionChange)="documentSelected(doc)" style="margin:auto;" col-1>
            <ion-icon name="document" color="primary" style="zoom: 1.2;"></ion-icon>
          </ion-checkbox>

          <ion-col style="margin:auto;" col-1>
            <ion-icon name="document" color="primary" style="zoom: 1.2;"></ion-icon>
          </ion-col>

          <ion-col style="margin:auto;" col-6 (click)="getDocument(doc)">
            <ion-row>
              <ion-col style="text-align:left;">
                <b>{{doc.documents}} </b>
              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col style="margin:auto;float:right" col-3>
            <ion-row>
              <ion-col>
                {{doc.created_on | date :  "MMM d,y"}}
              </ion-col>
            </ion-row>

          </ion-col>
          <!--Restricting a client from deleting a document which his case manager has uploaded-->

          <ion-col class="deleteDocIcon" *ngIf="loggedInUser!=undefined && (loggedInUser.user_type_id!=5 || (loggedInUser.user_type_id==5 && loggedInUser.id==doc.created_by));else elseBlock" (click)="deleteDocumentDialog(doc)" col-1>
            <ion-icon name="trash"></ion-icon>
          </ion-col>
          <ng-template #elseBlock>
            <ion-col col-1></ion-col>
          </ng-template>
        </ion-row>

      </ion-card>
    </div>

    <div *ngIf="doc_list==undefined || doc_list==null || doc_list.length==0">
      <no-record-found></no-record-found>
    </div>
  </div>

</ion-content>
