document {
  .simpleCard {
    background-color: #efefef;
    border-radius: 2%;
    text-align: center;
  }

  .simpleCard ion-col {
    text-overflow: ellipsis;
    flex: 1;
    overflow: hidden;
  }

}
