<ion-header>
 
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-row center style="text-align: left;vertical-align: middle;">
      <ion-col>
        <ion-title style="text-align: left;height: 100%;vertical-align: middle;">
          Profile
        </ion-title>

      </ion-col>
      <!--------------Currently hardcoding search access control for client (user_type_id=5)--------------->
      <ion-col style="text-align: right;" *ngIf="loggedInUser!=undefined && loggedInUser.user_type_id!=5">

        <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>

      </ion-col>
    </ion-row>

  </ion-navbar>

</ion-header>

<ion-content>

  <div style="text-align: center; background-image:url('assets/imgs/user_profile_bg.jpg');">

    <div class="overlay">

      <div style="padding:10px; color: white">

        <img style="border:2px solid white; padding:2px; border-radius: 100%;margin:5px 10px" *ngIf="loggedInUser!=undefined && loggedInUser.profile_img!=null && loggedInUser.profile_img.length!=0" (click)="viewImage(u_image)" src="{{u_image}}" alt="No image Found" width="144px" height="144px" />

        <img style="border-radius: 100%;margin:5px 10px" *ngIf="loggedInUser==null || loggedInUser==undefined ||loggedInUser.profile_img==null || loggedInUser.profile_img.length==0;" src="assets/imgs/user.png" alt="No image Found" width="144px" height="144px" />

        <h2 class="profile-name dark">{{u_name}}</h2>
        <div class="profile-info">{{u_email}}</div>

      </div>
    </div>
  </div>

  <!--   --------------Previous Layout --------------------- -->

          <ion-row class="border eachRow" (click)="viewProfile()">
             <ion-col col-3 style="text-align: center">

                <ion-icon class="iconButton" name="person"></ion-icon>

            </ion-col>

             <ion-col col-1 style="text-align: center">

              <div class="seperator">

              </div>

             </ion-col>

             <ion-col col-8 style="text-align: left;    padding: 0px;">
              <h5 class="profileButton">
                View Profile
              </h5>
          </ion-col>


          </ion-row>

          <ion-row class="border eachRow" (click)="changePassword()">
             <ion-col col-3 style="text-align: center;">

                <ion-icon class="iconButton" name="create"></ion-icon>

            </ion-col>

             <ion-col col-1 style="text-align: center">

              <div class="seperator">

              </div>

             </ion-col>

             <ion-col col-8 style="text-align: left;    padding: 0px;">
              <h5 class="profileButton">
                 Change Password
              </h5>
          </ion-col>


          </ion-row>


          <ion-row class="border eachRow" (click)="userLogout()">
             <ion-col col-3 style="text-align: center">

                <ion-icon class="iconButton"  name="log-out"></ion-icon>

            </ion-col>

             <ion-col col-1 style="text-align: center">

              <div class="seperator">

              </div>

             </ion-col>

             <ion-col col-8 style="text-align: left;    padding: 0px;">
              <h5 class="profileButton">
                  Logout
              </h5>
          </ion-col>

    </ion-row>

  <!--
      --------------Previous Layout Ends -----------------------
  -->
  <!--
  <ion-row>
    <ion-col>
      <button ion-button icon
    </ion-col>
  </ion-row>
  -->

</ion-content>
