bulkemail {
  .fullPage {
    width: 100%;
    height: 100%;
    position: sticky;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
  }

  .simpleCard {
    background-color: #efefef;
    border-radius: 2%;
    text-align: center;
  }

  .details {
    position: sticky;
    bottom: 0;
    min-height: 360px;
    margin: 0px 10px;
    background-color: #d4d4d4;
    padding: 30px;
    text-align: center;
    font-size: 1.35em;
    box-shadow: 1px 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .detailsSeperator {
    background-color: map-get($colors,secondary);
    width: 100%;
    height: 3px;
  }

  .blurDiv {
    filter: blur(3px);
  }

  .closeButton {
    background-color: map-get($colors,danger);
    border-radius: 100%;
    min-height: 48px;
    min-width: 48px;
  }

  .simpleCard ion-col {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    overflow: hidden;
  }
}
