<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-10 style="text-align:left">
        <ion-title>Communications</ion-title>
      </ion-col>
      <ion-col col-2 style="margin:auto;">
        <ion-icon name="refresh" (click)="fetchData()" style="float:right;margin-right:10px;color:white;zoom:1.5;"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-navbar>
</ion-header>

<ion-content>
  <div [className]="blurAmount">
    <ion-row>
      <ion-col col-10>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Filter by Name | Matter | Subject | Email" [(ngModel)]="search_string" name="search"></ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-2>
        <button ion-button icon-start end (click)="fetchData()"><ion-icon name="search"></ion-icon></button>
      </ion-col>

    </ion-row>
    <br />
    <ion-row>
      <ion-col style="text-align:center;">

        <button icon-start ion-button (click)="sendEmail()"><ion-icon name="add"></ion-icon>Send Secure Email</button>
      </ion-col>
    </ion-row>

    <hr>

    <div *ngIf="communication_list!=null && communication_list.length>0">
      <ion-card style="background-color: #efefef;border-radius: 2%; text-align: center;" *ngFor="let communication of communication_list" (click)="viewCommunication(communication)">

        <ion-row style="padding-left: 5px;">

          <ion-col style="margin:auto;" col-1>
            <ion-icon name="mail" color="primary" style="zoom: 1.2;"></ion-icon>
          </ion-col>

          <ion-col style="margin:auto;" col-4>
            <ion-row>
              <ion-col style="text-align:left;">
                <b> {{communication.name}} </b>
              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col style="margin:auto;" col-3>
            <ion-row>
              <ion-col>
                {{communication.subject}}
              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col style="margin:auto;" col-3>
            <ion-row>
              <ion-col>
                {{communication.created_date | customDateFormat:'MMM, DD YYYY'}}
              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col style="margin:auto;" col-1>
            <ion-icon name="more" color="primary" style="zoom: 1.2;"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>
    </div>

    <div *ngIf="communication_list==undefined || communication_list==null ||communication_list.length==0">
      <no-record-found></no-record-found>
    </div>
  </div>
</ion-content>
