communications {


  .blurDiv {
    filter: blur(3px);
  }

  ion-modal {
    top: 30% !important;
    padding: 10px;
    background: transparent !important;
    overflow-y: scroll;
    padding-bottom: 70%;

    ion-backdrop {
    }
  }
}
