<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-10>
        <ion-title>User Profile</ion-title>
      </ion-col>
      <ion-col col-2>
        <ion-icon name="refresh" class="refreshIcon" (click)="fetchData()"></ion-icon>
      </ion-col>
    </ion-row>
    
    
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="user!=null && user!=undefined">


    <div style="text-align: center; background-image:url('assets/imgs/user_profile_bg.jpg');">

      <div class="overlay">

        <div style="padding:10px; color: white">

         <img *ngIf="user!=undefined && user!=null && user.profile_img!=null && user.profile_img!=undefined && user.profile_img.length>0" style="border:2px solid white; padding:2px; border-radius: 100%;margin:5px 10px" [src]="apiValue.baseImageFolder+user.profile_img" alt="No image Found" width="144px" height="144px" /> 

          <img *ngIf="user==undefined || user==null || user.profile_img==undefined || user.profile_img==null || user.profile_img.length==0 " style="border-radius: 100%;margin:5px 10px" src="assets/imgs/user.png" alt="No image Found" width="144px" height="144px" />

         <h2 class="profile-name dark">{{user.name}}</h2>
         <div class="profile-info">{{user.email}}</div>

          <button ion-button icon-start style="margin-top:10px;" (click)="editProfile()"><ion-icon name="create"></ion-icon>Edit Profile</button>

        </div>
      </div>
    </div>



    <br><br>

    <ion-item>
      <ion-label fixed><b>Contact No.:</b></ion-label>
      <ion-label>{{user.contact}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>Alternate No.:</b></ion-label>
      <ion-label>{{user.alternate_number}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>Gender:</b></ion-label>
      <ion-label>{{user.gender}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>Date Of Birth:</b></ion-label>
      <ion-label>{{user.dob| date :  "MMM d,y"}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>Address:</b></ion-label>
      <ion-label>{{user.permanent_address}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>City or Town:</b></ion-label>
      <ion-label>{{user.city}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>State:</b></ion-label>
      <ion-label>{{user.state}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>Zip Code:</b></ion-label>
      <ion-label>{{user.pincode}}</ion-label>

  </ion-item>

  <ion-item>
    <ion-label fixed><b>Country:</b></ion-label>
    <ion-label>{{getCountryName(user.country)}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>Fax No.:</b></ion-label>
      <ion-label>{{user.fax}}</ion-label>

    </ion-item>

    <ion-item>
      <ion-label fixed><b>User Type:</b></ion-label>
      <ion-label>{{user.uname}}</ion-label>

    </ion-item>
    <!--
   <ion-item style='text-align:center;margin:5px'>
       <button ion-button (click)="changePassword(user.name)">Change Password</button>
       <button ion-button (click)="editUser()">Update User</button>
       <button ion-button (click)="deleteUser()">Delete User</button>
     </ion-item>
   -->
  </ion-list>

  <div *ngIf="user==null || user==undefined">
    <no-record-found></no-record-found>
  </div>

   <ion-row>
     <ion-col style="text-align:center">
       <button ion-button (click)="goBack()">Back</button>
     </ion-col>
   </ion-row>

</ion-content>
