payment_summary {
  ion-label {
    overflow: unset;
  }

  .seperatorHeading {
    font-size: 18px;
    text-align: center;
    color:white;
    background-color: map-get($colors,primary);
    padding: 5px;
  }
}
