<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style='background-image:url(assets/imgs/building.jpg);background-size: cover;overflow-y:scroll'>

  <ion-item no-lines class="profile-item">
    <div class="profile-picture">
      <img src="assets/imgs/logo.png" style="background-color:gray;background-image: linear-gradient(#48c6ef , #6f86d6);"><br><br>

    </div>
  </ion-item>

  <!-- ---------------------------New or Existing User Radio Buttons-------------------
  <ion-row>

    <ion-col col-6 style="text-align:right">
      <button ion-button [color]="isNew?'success':'disabled'" icon-start (click)="setIsNew(true)"><ion-icon  [name]="isNew?'checkmark':''"></ion-icon>New Client</button>
    </ion-col>

    <ion-col col-6 style="text-align:left">
      <button ion-button [color]="!isNew?'success':'disabled'" icon-start  (click)="setIsNew(false)"><ion-icon [name]="!isNew?'checkmark':''"></ion-icon>Existing Client</button>

    </ion-col>
  </ion-row>
    -->
  <hr />

  <form [formGroup]="userForm">

    <ion-list>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_name.touched && ! userForm.controls.u_name.valid,'valid':(userForm.controls.u_name.touched && userForm.controls.u_name.valid)}" [class.invalid]="userForm.controls.u_name.touched && ! userForm.controls.u_name.valid">

        <ion-label style="color:white;">Full Name <span class="requiredField">*</span>:</ion-label>
        <ion-input type="text" formControlName="u_name" name="full_name"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_password.touched && ! userForm.controls.u_password.valid,'valid':(userForm.controls.u_password.touched && userForm.controls.u_password.valid)}" [class.invalid]="userForm.controls.u_password.touched && ! userForm.controls.u_password.valid">

        <ion-label style="color:white;">Password:</ion-label>
        <ion-input type="password" formControlName="u_password" name="password"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines *ngIf="! userForm.controls.u_password.valid">
        <span class="passwordField">Only alphabets, numbers and . _ - symbols are allowed. Or keep password blank</span>
      </ion-item>




      <ion-item no-lines class="transparentBG" [ngClass]="{'error':userForm.controls.u_dob.touched && ! userForm.controls.u_dob.valid,'valid':(userForm.controls.u_dob.touched && userForm.controls.u_dob.valid)}" [class.invalid]="userForm.controls.u_dob.touched && !userForm.controls.u_dob.valid">

        <ion-label style="color:white;">Date Of Birth <span class="requiredField">*</span>:</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" placeholder="Select" formControlName="u_dob" name="date_of_birth"></ion-datetime>
      </ion-item>

      <ion-item class="transparentBG" no-lines style="padding-left: 0px;margin-left: 15px;" [ngClass]="{'error':userForm.controls.u_alien.touched && ! userForm.controls.u_alien.valid,'valid':(userForm.controls.u_alien.touched && userForm.controls.u_alien.valid)}" [class.invalid]="userForm.controls.u_alien.touched && ! userForm.controls.u_alien.valid">
        <ion-label style="color:white;">Alien No.:</ion-label>
        <ion-input type="text" formControlName="u_alien"></ion-input>
      </ion-item>

      <!------------------ ALien No with Find Button----------------------------//
     <ion-row>
       <ion-col col-10 style="padding:0px;">

       </ion-col>
       <ion-col *ngIf="!isNew" col-2 style="padding:0px;">
         <button ion-button class="findButton" [disabled]="userForm.value.u_alien.length==0" (click)="searchForExistingClient()">Find</button>
       </ion-col>
     </ion-row>
  -->



      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_contact.touched && !userForm.controls.u_contact.valid,'valid':(userForm.controls.u_contact.touched && userForm.controls.u_contact.valid)}" [class.invalid]="userForm.controls.u_contact.touched && !userForm.controls.u_contact.valid">
        <ion-label style="color:white;">Contact No. <span class="requiredField">*</span>:</ion-label>
        <ion-input type="tel" [brmasker]="{mask:'(000)-000-0000', len:14, type:'number'}" formControlName="u_contact" name="contact"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_alt.touched && ! userForm.controls.u_alt.valid,'valid':(userForm.controls.u_alt.touched && userForm.controls.u_alt.valid)}" [class.invalid]="userForm.controls.u_alt.touched && ! userForm.controls.u_alt.valid">
        <ion-label style="color:white;">Alternative No.:</ion-label>
        <ion-input type="tel" [brmasker]="{mask:'(000)-000-0000', len:14, type:'number'}" formControlName="u_alt" name="alt"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_email.touched && ! userForm.controls.u_email.valid,'valid':(userForm.controls.u_email.touched && userForm.controls.u_email.valid)}" [class.invalid]="userForm.controls.u_email.touched && ! userForm.controls.u_email.valid">
        <ion-label style="color:white;">Email:</ion-label>
        <ion-input type="email" formControlName="u_email" name="email"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_address1.touched && !userForm.controls.u_address1.valid,'valid':(userForm.controls.u_address1.touched && userForm.controls.u_address1.valid)}" [class.invalid]="userForm.controls.u_address1.touched && ! userForm.controls.u_address1.valid">

        <ion-label style="color:white;">Address 1<span class="requiredField">*</span>:</ion-label>
        <ion-input type="text" formControlName="u_address1" name="street"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_address2.touched && !userForm.controls.u_address2.valid,'valid':(userForm.controls.u_address2.touched && userForm.controls.u_address2.valid)}" [class.invalid]="userForm.controls.u_address2.touched && ! userForm.controls.u_address2.valid">

        <ion-label style="color:white;">Address 2</ion-label>
        <ion-input type="text" formControlName="u_address2" name="Address 2"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_city.touched && ! userForm.controls.u_city.valid,'valid':(userForm.controls.u_city.touched && userForm.controls.u_city.valid)}" [class.invalid]="userForm.controls.u_city.touched && ! userForm.controls.u_city.valid">

        <ion-label style="color:white;">City or Town <span class="requiredField">*</span>:</ion-label>
        <ion-input type="text" formControlName="u_city" name="city"></ion-input>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_state.touched && ! userForm.controls.u_state.valid,'valid':(userForm.controls.u_state.touched && userForm.controls.u_state.valid)}" [class.invalid]="userForm.controls.u_state.touched && ! userForm.controls.u_state.valid">

        <ion-label style="color:white;">State <span class="requiredField">*</span>:</ion-label>
        <ion-select interface="action-sheet" formControlName="u_state" name="state" placeholder="Select">
          <ion-option *ngFor="let state of stateList" value="{{state.stateName}}">{{state.stateName}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_pincode.touched && ! userForm.controls.u_pincode.valid,'valid':( userForm.controls.u_pincode.touched && userForm.controls.u_pincode.valid)}" [class.invalid]="userForm.controls.u_pincode.touched && ! userForm.controls.u_pincode.valid">

        <ion-label style="color:white;">Zip code <span class="requiredField">*</span>:</ion-label>
        <ion-input type="number" formControlName="u_pincode" name="pincode"></ion-input>
      </ion-item>


      <ion-item class="transparentBG" no-lines>
        <ion-label style="color:white;">Country <span class="requiredField">*</span>: United States</ion-label>
      </ion-item>


      <ion-item class="transparentBG" no-lines [ngClass]="{'error':userForm.controls.u_case_type.touched && ! userForm.controls.u_case_type.valid,'valid':( userForm.controls.u_case_type.touched && userForm.controls.u_case_type.valid)}" [class.invalid]="userForm.controls.u_case_type.touched && ! userForm.controls.u_case_type.valid">

        <ion-label style="color:white;">Case Type:</ion-label>
        <ion-select interface="popover" placeholder="Select" formControlName="u_case_type">
          <ion-option *ngFor="let caseType of caseTypeList" value="{{caseType.id}}">{{caseType.case_type}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="transparentBG" *ngIf="!isNew" no-lines [ngClass]="{'error':userForm.controls.u_case_manager.touched && ! userForm.controls.u_case_manager.valid,'valid':( userForm.controls.u_case_manager.touched && userForm.controls.u_case_manager.valid)}" [class.invalid]="userForm.controls.u_case_manager.touched && ! userForm.controls.u_case_manager.valid">

        <ion-label style="color:white;">Case Manager</ion-label>
        <ion-select interface="action-sheet" placeholder="Select" formControlName="u_case_manager">
          <ion-option *ngFor="let advocate of advocate_list" value="{{advocate.id}}">{{advocate.name}} ({{advocate.id}})</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>



    <ion-row>
      <ion-col style="text-align: center;padding:5px 32px;">
        <button ion-button round icon-end style="width:100%;" [disabled]="! userForm.valid" (click)="submitData()">Sign Up<ion-icon name="person"></ion-icon></button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

