page-sign-up {
  .error > .item-inner {
    border-bottom-color: red !important;
    border-bottom: 1px solid red !important;
  }

  .valid > .item-inner {
    border-bottom-color: #32db64 !important;
    border-bottom: 1px solid #32db64 !important;
  }

  .profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
    width: 144px;
    height: 144px;
    border-radius: 100%;
  }

  .profile-item {
    text-align: center;
    background-color: transparent;
  }

  img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
  }

  .requiredField {
    color: red;
  }

  .label {
    color: unset;
  }

  .findButton
  {
    background-color: transparent;
    color: map-get($colors,primary);
    box-shadow: unset;
    border: unset;
  }
}
