<!-- Generated template for the ClientDetailActionsComponent component -->

      <div (click)="selectOption(8)">
        <ion-icon name="briefcase"></ion-icon> Edit <span class="arrow">></span>
      </div>

      <div (click)="selectOption(0)">
        <ion-icon name="briefcase"></ion-icon> Change Case Manager <span class="arrow">></span>
      </div>

      <div (click)="selectOption(1)">

        <ion-icon name="card"></ion-icon> Payment <span class="arrow">></span>
      </div>

      <div (click)="selectOption(7)">

        <ion-icon name="mail"></ion-icon> Send SMS<span class="arrow">></span>
      </div>

      <div (click)="selectOption(2)">

        <ion-icon name="barcode"></ion-icon> Hearing Details<span class="arrow">></span>
      </div>

      <div (click)="selectOption(3)">

        <ion-icon name="globe"></ion-icon> Communications<span class="arrow">></span>
      </div>

      <div (click)="selectOption(4)">

        <ion-icon name="trash"></ion-icon> Delete <span class="arrow">></span>
      </div>

      <div (click)="selectOption(5)">

        <ion-icon name="clipboard"></ion-icon> Notes <span class="arrow">></span>
      </div>

      <div (click)="selectOption(6)">

        <ion-icon name="bookmarks"></ion-icon> Documents <span class="arrow">></span>
      </div>

  


