<!-- Generated template for the ClientDetailActionsComponent component -->
  <ion-content>

    <ion-item color="primary" class="text-10" (click)="messages()">
      <ion-label>New Offer 25% OFF</ion-label>
    </ion-item>

    <ion-item color="light" class="text-10" (click)="messages()">

      <ion-label>New Offer 15% OFF by month!</ion-label>
    </ion-item>

    <ion-item color="light" class="text-10" (click)="messages()">

      <ion-label>New Offer 10% OFF by month!</ion-label>
    </ion-item>

    <ion-item color="primary" class="text-10" (click)="messages()">

      <ion-label>New Offer 35% OFF</ion-label>
    </ion-item>

    <ion-row>
      <ion-col style="text-align:center;">
        <button ion-button>Close</button>
      </ion-col>

    </ion-row>
  </ion-content>

