<ion-header>
 
  <ion-navbar color="secondary">
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    
	    <ion-row center style="text-align: center;vertical-align: middle;">
	      <ion-col>
	         <ion-title style="text-align: center;height: 100%;vertical-align: middle;">
	           Notifications
	         </ion-title>

	      </ion-col>
	      <ion-col style="text-align: right;">
	       
	          <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>
	      
	      </ion-col>
	    </ion-row>
     
  </ion-navbar>
</ion-header>

<ion-content>

  <div [className]="blurAmount">
   
    <ion-row>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label stacked>From</ion-label>
          <ion-datetime name="from_date" placeholder="Select" [(ngModel)]="n_from" displayFormat="DD MM YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines>
          <ion-label stacked>To</ion-label>
          <ion-datetime [(ngModel)]="n_to" placeholder="Select" name="n_date" displayFormat="DD MM YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>


      <ion-item>
        <ion-input type="text" placeholder="Filter by Allien no. | Case status | Client Name" [(ngModel)]="n_search" name="search"></ion-input>
      </ion-item>

   

    <ion-row>
      <ion-col style="text-align: center">
        <button ion-button round icon-start end (click)="fetchData()"><ion-icon name="search"></ion-icon>Filter</button>
      </ion-col>
    </ion-row>


    <br><br>

    <div *ngIf="notifications==undefined || notifications == null || notifications.length==0">
      
      <no-record-found></no-record-found>
    </div>

    <ion-card style="background-color: #efefef;border-radius: 2%; text-align: center;" *ngFor="let notification of notifications" (click)="showDetails(notification)">

      <ion-row>

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="notifications" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

        <ion-col col-4>

          <ion-row>
            <ion-col>
              <b> {{notification.clientName}}</b>
            </ion-col>
          </ion-row>

        </ion-col>


        <ion-col col-3 style="text-overflow: ellipsis; flex:1;overflow: hidden;white-space: nowrap;">

          <ion-row>
            <ion-col>
              {{notification.TypeofHearing}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              {{notification.hearingDate| date: 'MMM, dd yy'}}
            </ion-col>
          </ion-row>
        </ion-col>


        <ion-col style="margin:auto;" col-1>
          <ion-icon name="more" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-card>

  </div>

</ion-content>
