casetype {
  .cardButton {
    color: color($colors, primary, base);
    background-color: transparent;
    box-shadow: none;
  }

  ion-label {
    margin: 0px;
    overflow: unset;
    white-space: unset;
  }

  .cardBG {
    background-image: linear-gradient(#88c6f799, rgb(239, 253, 255));
  }
}
