<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 <div *ngIf="user!=null">

 <div  style="text-align: center; background-image:url('assets/imgs/user_profile_bg.jpg');" >

      <div class="overlay">

        <div style="padding:10px">

  	      <img style="border:2px solid white; padding:2px; border-radius: 100%;margin:5px 20px" *ngIf="user.profile_img!=null && user.profile_img.length!=0;" src="{{apiValue.baseImageFolder}}{{user.profile_img}}" alt="No image Found" width="144px" height="144px"/>

          <img style="border-radius: 100%;margin:5px 20px" *ngIf="user.profile_img==null || user.profile_img.length==0;" src="assets/imgs/user.png" alt="No image Found" width="144px" height="144px"/> 


          <br>

           <b style="color: white;font-size: 1.6em">{{user.lastname==null?user.name:(user.name+' '+user.lastname)}}</b> <br> <br>
           <i style="color: white;">{{user.email}}</i>

          <ion-row style='text-align:center;margin:5px'>
            <ion-col col-6>
              <button ion-button (click)="changePassword(user.name)">Change Password</button>
            </ion-col>
            <ion-col col-4>
               <button ion-button style="background-color:green " (click)="editUser()">Update User</button>
            </ion-col>
            <ion-col col-2>
               <button ion-button style="background-color:red;max-width: 48px;margin-left: 10px; " (click)="deleteUser()"><ion-icon name="trash"></ion-icon></button>
            </ion-col>
          </ion-row>

       </div>

       </div>
    </div>
    
        <br><br>


            <ion-list>

              <ion-item>
                <ion-label><ion-icon name="call"></ion-icon><b>Contact No.:</b></ion-label>
                <ion-label>{{user.contact}}</ion-label>



              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="call"></ion-icon><b>Alternate No.:</b></ion-label>
                <ion-label>{{user.alternate_number}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="transgender"></ion-icon><b>Gender:</b></ion-label>
                <ion-label>{{user.gender}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="calendar"></ion-icon><b>Date Of Birth:</b></ion-label>
                <ion-label>{{user.dob|customDateFormat:'MMM,DD YYYY'}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="locate"></ion-icon><b>Address 1:</b></ion-label>
                <ion-label style="overflow:unset;white-space:unset;">{{user.permanent_addressLine1}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="locate"></ion-icon><b>Address 2:</b></ion-label>
                <ion-label style="overflow:unset;white-space:unset;">{{user.permanent_addressLine2}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="compass"></ion-icon><b>City or Town:</b></ion-label>
                <ion-label>{{user.city}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="navigate"></ion-icon><b>State:</b></ion-label>
                <ion-label>{{user.state}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="pin"></ion-icon><b>Zip Code:</b></ion-label>
                <ion-label>{{user.zipCode}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="planet"></ion-icon><b>Country:</b></ion-label>
                <ion-label>{{user.country}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="clipboard"></ion-icon><b>Fax No.:</b></ion-label>
                <ion-label>{{user.fax}}</ion-label>

              </ion-item>

              <ion-item>
                <ion-label><ion-icon name="people"></ion-icon><b>User Type:</b></ion-label>
                <ion-label>{{getUserType(user.usertype_id)}}</ion-label>

              </ion-item>

            </ion-list>


</div>

 <div *ngIf="user==null || user.length==0">

   <no-record-found></no-record-found>

 </div>
<br>
<br>
<hr>
<br>

</ion-content>
