<ion-header>
 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Case Study History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="caseDetails!=null && caseDetails!=undefined">
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Client Name</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.client_name}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Alien No.</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.case_no}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Contact Number</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.contact}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Alias</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.alias}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Date Of Registration</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.DateOfRegistration}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Case Status</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.status}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Date Of Filing</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.created_on| customDateFormat:'MMM, DD YYYY'}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Filing Case Manager</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.FilingCaseManager}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>



  </div>

  <div *ngIf="hearingList!=undefined && hearingList!=null && hearingList.length>0">

    <ion-item no-lines style="min-height:unset;">
      <ion-label style="text-align:right;font-size:14px;color:#808080;margin:0px;">Total Records:{{hearingList.length}}</ion-label>
    </ion-item>


  </div>

  <ion-card class="simpleCardHeader">

    <ion-row style="padding-left: 5px;">

    

      <ion-col style="margin:auto;" col-4>
        <ion-row>
          <ion-col style="text-align:left;">
            <b>Hearing Date</b>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-col style="margin:auto;" col-3>
        <ion-row>
          <ion-col>
            Judge
            <ion-icon name="arrow-dropdown"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-col style="margin:auto;" col-3>
        <ion-row>
          <ion-col>
            Location
            <ion-icon name="arrow-dropdown"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

  </ion-card>


  <div *ngFor="let hearing of hearingList;let i=index">
    <ion-card class="simpleCard" (click)="showDetails(hearing,$event,i)">

      <ion-row style="padding-left: 5px;">

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="contact" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

        <ion-col style="margin:auto;" col-4>
          <ion-row>
            <ion-col style="text-align:left;">
              <b>{{hearing.hearing_date | customDateFormat:'MMM,DD YYYY'}}</b>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{hearing.judgeName}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{hearing.locationOfHearing}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="more" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-card>

    <div class="details" *ngIf="visibility[i]">

      <ion-row>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Hearing Date</ion-label>
            <ion-label> {{hearing.hearing_date | customDateFormat:'MMM,DD YYYY'}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Hearing Time</ion-label>
            <ion-label>{{hearing.hearing_time | convert24HourTime}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Judge Name</ion-label>
            <ion-label>{{hearing.judgeName}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Location Of Hearing</ion-label>
            <ion-label>{{hearing.locationOfHearing}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Hearing Description</ion-label>
            <ion-label>{{hearing.hearing_disc}}</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Hearing Notes</ion-label>
            <ion-label>{{hearing.notes}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="hearing!=undefined && hearing.upload_doc!=null">
        <ion-col (click)="downloadDocs(hearing.upload_doc)">
          <ion-item no-lines>
            <ion-label class="detailLabel" stacked>Documents</ion-label>
            <ion-label>{{hearing.upload_doc}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>
  </div>

  <div *ngIf="hearingList==undefined || hearingList==null || hearingList.length==0">
    <no-record-found></no-record-found>
  </div>
</ion-content>
