<ion-header>
 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Case Study History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="caseDetails!=null && caseDetails!=undefined">
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Client Name</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.client_name}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Alien No.</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.case_no}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Contact Number</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.contact}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Alias</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.alias}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Date Of Registration</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.DateOfRegistration}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Case Status</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.status}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Date Of Filing</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.created_on| customDateFormat:'MMM, DD YYYY'}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Filing Case Manager</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{caseDetails.FilingCaseManager}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>


    
  </div>

  <div *ngIf="hearingList!=undefined && hearingList!=null && hearingList.length>0">

    <br>
    <ion-label class="seperatorHeading"><b>Hearing Details</b></ion-label>
    <hr>
    <br>

    <div style="overflow-x:auto">
      <table>

        <tr>

          <th><b>S.No.</b></th>

          <th><b>Date</b></th>


          <th><b>Time</b></th>

          <th><b>Judge Name</b></th>

          <th><b>Location Of Hearing</b></th>

          <th><b>Description</b></th>

          <th><b>Notes</b></th>

          <th><b>Documents</b></th>

        <tr *ngFor="let hearing of hearingList;let i=index">
          <td>{{i+1}}</td>
          <td>{{hearing.hearing_date}}</td>
          <td>{{hearing.hearing_time}}</td>
          <td>{{hearing.judgeName}}</td>
          <td>{{hearing.locationOfHearing}}</td>
          <td>{{hearing.hearing_disc}}</td>
          <td>{{hearing.notes}}</td>
          <td style="color:blue" (click)="downloadDocs(hearing.upload_doc)">{{hearing.upload_doc}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="hearingList==undefined || hearingList==null || hearingList.length==0">
    <no-record-found></no-record-found>
  </div>
</ion-content>
