payment {

  error > .item-inner {
    border-bottom-color: red !important;
    border-bottom: 2px solid red !important;
  }

  .valid > .item-inner {
    border-bottom-color: #32db64 !important;
    border-bottom: 2px solid #32db64 !important;
  }


  .mandatory_field {
    color: red;
  }

  .label{
    color:unset;
  }
}
