<ion-header>
 
  <ion-navbar color="secondary">
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    
	    <ion-row center style="text-align: center;vertical-align: middle;">
	      <ion-col>
	         <ion-title style="text-align: center;height: 100%;vertical-align: middle;">
	           Clients
	         </ion-title>

	      </ion-col>
	      <ion-col style="text-align: right;">
	       
	          <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>
	      
	      </ion-col>
	    </ion-row>
     
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Case Type</ion-label>
      <ion-select interface="popover" [(ngModel)]="c_case_type">
        <ion-option value="1">Civil</ion-option>
        <ion-option value="4">Murder</ion-option>
        <ion-option value="6">Criminal</ion-option>
        <ion-option value="7">Divorce</ion-option>

      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Year</ion-label>
      <ion-datetime  placeholder="Select Year" [(ngModel)]="c_case_year" displayFormat="YYYY"></ion-datetime>



    </ion-item>
    <ion-item>
      <ion-label>Case Category</ion-label>
      <ion-select interface="popover" [(ngModel)]="c_case_category">
        <ion-option value="1">New</ion-option>
        <ion-option value="2">Reopen</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Filter by Allien no. | Case status | Client Name" [(ngModel)]="c_search"></ion-input>
    </ion-item>

  </ion-list>

  <ion-row>
    <ion-col style="text-align: right">
      <button ion-button round icon-start end (click)="fetchData()"><ion-icon name="search"></ion-icon>Filter</button>
    </ion-col>
    <ion-col style="text-align: left">
      <button ion-button round icon-start end (click)="addClient()"><ion-icon name="add"></ion-icon>Add Client</button>
    </ion-col>
  </ion-row>


  <br><br>

  <div *ngIf="clients!=null && clients.length>0">
    <ion-card style="background-color: #efefef;border-radius: 2%; text-align: center;" *ngFor="let client of clients">

      <ion-row>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              <b>Client Name</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{client.clientName}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col col-3 style="text-overflow: ellipsis; flex:1;overflow: hidden;white-space: nowrap;">

          <ion-row>
            <ion-col>
              <b>Alien No.</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{client.alienNo}}
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              <b>Stage</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{client.stage}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col col-3>

          <ion-row>
            <ion-col>
              <b>Type</b>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              {{client.case_type}}
            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>

    </ion-card>
  </div>

  <div *ngIf="clients==undefined || clients==null ||clients.length==0">
    <no-record-found></no-record-found>
  </div>
</ion-content>
