<ion-header>
 
 <ion-navbar color="secondary">
	  	<button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    
	    <ion-row center style="text-align: center;vertical-align: middle;">
	      <ion-col>
	         <ion-title style="text-align: left;height: 100%;vertical-align: middle;">
	           Account Management
	         </ion-title>

	      </ion-col>
	      <ion-col style="text-align: right;">
	       
	          <ion-icon (click)="searchClient()" size="large" style="color:white;zoom:1.4;padding-right:10px" name="search"></ion-icon>
	      
	      </ion-col>
	    </ion-row>
     
  </ion-navbar>
</ion-header>

<ion-content>

  <div [className]="blurAmount">
    <ion-list>

      <ion-item>

        <ion-label>Payment Mode</ion-label>

        <ion-select interface="popover" [(ngModel)]="a_pay_mode">
          <ion-option value="Debit/Credit Card">Debit/Credit Card</ion-option>
          <ion-option value="Via Bank Transfer">Via Bank Transfer</ion-option>
          <ion-option value="Payment By Cash">Payment By Cash</ion-option>
          <ion-option value="Money Order">Money Order</ion-option>
          <ion-option value="ADD CHARGES INTO CLIENT ACCOUNT">Add charges into Client Account</ion-option>
          <ion-option value="REGISTRATION CHARGES">Registration Charges</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>

        <ion-label>Payment Status</ion-label>

        <ion-select interface="popover" [(ngModel)]="a_pay_status">
          <ion-option value="Outstanding">Outstanding Payments</ion-option>
          <ion-option value="paymentReceived">Payment Received</ion-option>

        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime placeholder="Select Date" max="{{apiValue.maxSelectableDate}}" [(ngModel)]="c_pay_from"></ion-datetime>


      </ion-item>

      <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime placeholder="Select Date" max="{{apiValue.maxSelectableDate}}" [(ngModel)]="c_pay_to"></ion-datetime>


      </ion-item>

    </ion-list>
    <ion-row style="text-align: center;">

      <ion-col>

        <button icon-start ion-button (click)="fetchData()"><ion-icon name="search"></ion-icon>Search</button>
      </ion-col>

    </ion-row>

    <hr>
    <br>

    <ion-item no-lines style="min-height:unset;">
      <ion-label style="text-align:right;font-size:14px;color:#808080;margin:0px;">Total Records:{{accounts.length}}</ion-label>
    </ion-item>

    <ion-card style="background-color: #efefef;border-radius: 2%; text-align: center;" *ngFor="let account of accounts;let i=index" (click)="showDetails(account)">

      <ion-row style="padding-left: 5px;">

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="contact" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

        <ion-col style="margin:auto;" col-4>
          <ion-row>
            <ion-col style="text-align:left;">
              <b>{{account.name}}</b>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{account.created_on| customDateFormat:'MMM,DD YYYY'}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-3>
          <ion-row>
            <ion-col>
              {{account.total_overdue_amount}}
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col style="margin:auto;" col-1>
          <ion-icon name="more" color="primary" style="zoom: 1.2;"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-card>

  </div>

  <div class="details" *ngIf="setDetailVisible">


    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Client Name</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{detailAccount.client_name}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Alien No.</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{detailAccount.alien_no}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>


    <div class="detailsSeperator"></div>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Date</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{detailAccount.date}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Payment Mode</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{detailAccount.payment_mode}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div class="detailsSeperator"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Payment Overdue</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{detailAccount.payment_overdue}}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row>
          <ion-col>
            <b>Amount</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            {{detailAccount.amount}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">
      <ion-col>
        <button class="closeButton" ion-button (click)="hideDetails()"><ion-icon name="close"></ion-icon></button>
      </ion-col>
    </ion-row>

  </div>

  <div *ngIf="accounts==null || accounts==undefined || accounts.length==0">
    <no-record-found></no-record-found>
  </div>

</ion-content>
